apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "flaiserator.fullname" . }}
  labels:
    {{- include "flaiserator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ''
      - 'apps'
      - 'batch'
    resources:
      - 'secrets'
      - 'deployments'
      - 'services'
      - 'jobs'
      - 'cronjobs'
    verbs:
      - 'get'
      - 'create'
      - 'update'
      - 'delete'
      - 'deletecollection'
      - 'patch'
      - 'list'
      - 'watch'

  - apiGroups:
      - 'fintlabs.no'
      - 'onepassword.com'
      - 'traefik.containo.us'
      - 'monitoring.coreos.com'
    resources:
      - 'applications'
      - 'jobs'
      - 'kafkauserandacls'
      - 'pgusers'
      - 'ingressroutes'
      - 'podmonitors'
      - 'onepassworditems'
    verbs:
      - 'get'
      - 'create'
      - 'update'
      - 'delete'
      - 'deletecollection'
      - 'patch'
      - 'list'
      - 'watch'

  - apiGroups:
      - 'apiextensions.k8s.io'
    resources:
      - 'customresourcedefinitions'
    verbs:
      - 'get'
      - 'list'