apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "flaiserator.fullname" . }}
  labels:
    {{- include "flaiserator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - "*"
    resources:
      - secrets
      - deployments
      - services
      - applications
      - jobs
      - cronjobs
      - kafkauserandacls
      - pgusers
      - ingressroutes
      - podmonitors
      - onepassworditems
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch

  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list