name: App Test

on:
  pull_request:
    branches:
      - main
    paths:
      - src/**
      - build.gradle.kts
      - settings.gradle.kts
      - gradle/**

concurrency:
  group: app-test-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  check-formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Spotless Check
        run: ./gradlew :spotlessCheck --stacktrace --configuration-cache
  
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Unit Tests
        run: ./gradlew :test --stacktrace --configuration-cache

      - name: Unit Test Reports
        uses: dorny/test-reporter@v2.3.0
        if: always()
        with:
          name: Unit Test Reports
          path: 'build/test-results/test/*.xml'
          reporter: java-junit

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest-8-cores
    strategy:
      fail-fast: false
      matrix:
        kubernetes: [v1.34.2, v1.35.1]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Integration Tests
        env:
          TEST_KUBERNETES_VERSION: ${{ matrix.kubernetes }}
        run: ./gradlew :integrationTest --stacktrace --configuration-cache

      - name: Integration Test Reports
        uses: dorny/test-reporter@v2.3.0
        if: always()
        with:
          name: Integration Test Reports - Kubernetes ${{ matrix.kubernetes }}
          path: 'build/test-results/integrationTest/*.xml'
          reporter: java-junit
